# bot token for discord
botToken=

# default channel (messaging on ready)
defaultChannelId=

# reddit api stuff
clientId=
clientSecret=

# for user-agent header, username without 'u/'
redditUsername=
platform=windows





#//////////////////// DONT EDIT ////////////////////

redditToken=
redditRefreshToken=
redditRefreshTimestamp=0
