# bot token for discord
botToken=

# default channel (messaging on ready)
defaultChannelId=

# reddit api stuff
clientId=
clientSecret=






#//////////////////// DONT EDIT ////////////////////

redditToken=
redditRefreshToken=
redditRefreshTimestamp=0
